
#logo-container{

    display: grid;
    grid-template-columns: auto 60% auto;
    grid-template-areas: " . logo-reveal . ";
    position: absolute;

    >div{
        grid-area: logo-reveal;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        svg{
            width: 100%;
            position: relative;      
    }
}
}

#scanner{
    display: grid;
    grid-template-columns: auto 60% auto;
    grid-template-areas: ". face-scan . ";
    position: relative;

    >div{
        grid-area: face-scan;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        svg{
            width: 100%; 
            //position: absolute     
    }
}

    //display:none;
    
}

body {background-color:black;}

#dashboard{
    display:none
}